<div class="Input">
    <label class="Input-label" for="{{ name }}">{{ labelText }}</label>
    <input class="Input-field" type="{{ type }}" name="{{ name }}" id="{{ name }}" value="{{ value }}">
</div>
